.idea/
App_Data/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
bld/
[Oo]bj/
bin/

vs/
*.suo
*.user
*.DotSettings

ehthumbs.db
Thumbs.db

node_modules
npm-debug.log

# Visual Studio 2015 cache/options directory
.vs/

packages
Logs
sql/scripts/
*.log
dist