html {
  background: url("../img/back.png") repeat;
}
body {
  background: transparent;
  margin: 0;
}
header {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.head {
  background-color: #fff !important;
  color: #000;
  height: 65px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}
.container-fluid {
  padding: 0;
}
.top_menu {
  height: 100%;
  margin-top: 5px;
  border-top: 1px solid;
  display: table !important;
  padding: 0;
}
.menu_item {
  width: 20%;
  text-align: center;
  padding: 0;
  list-style-type: none;
  display: table-cell;

  a {
    text-decoration: none;
    color: #000;
    position: absolute;
    bottom: 10px;
  }

  &:hover {
    border-top: 4px solid;
  }
}

.test {
  background-color: red !important;
  float: left;
}
